# Background

## Goal

To predict when employees are going to quit by understanding the main drivers of employee churn.

## Tasks

Assume, for each company, that the headcount starts from zero on 2011/01/23. Estimate employee headcount, for each company, on each day, from 2011/01/24 to 2015/12/13. That is, if by 2012/03/02 2000 people have joined company 1 and 1000 of them have already quit, then company headcount on 2012/03/02 for company 1 would be 1000. You should create a table with 3 columns: day, employee_headcount, company_id.


What are the main factors that drive employee churn? Do they make sense? Explain your findings.


If you could add to this data set just one variable that could help explain employee churn, what would that be?

## Dataset

employee_id : id of the employee. Unique by employee per company company_id : company id.

dept : employee dept

seniority : number of yrs of work experience when hired

salary: avg yearly salary of the employee during her tenure within the company join_date: when the employee joined the company, it can only be between 2011/01/24 and 2015/12/13

quit_date: when the employee left her job (if she is still employed as of 2015/12/13, this field is NA)

In [2]:
%matplotlib inline
import random
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder
# from numpy.linalg import inv
import pdpbox
from pdpbox import pdp
from pdpbox.info_plots import target_plot

from statsmodels.multivariate.manova import MANOVA

In [3]:
dt = pd.read_csv('employee_retention_data.csv')

In [4]:
dt.head()

,employee_id,company_id,dept,seniority,salary,join_date,quit_date
0,13021.0,7,customer_service,28,89000.0,2014-03-24,2015-10-30
1,825355.0,7,marketing,20,183000.0,2013-04-29,2014-04-04
2,927315.0,4,marketing,14,101000.0,2014-10-13,NaN
3,662910.0,7,customer_service,20,115000.0,2012-05-14,2013-06-07
4,256971.0,2,data_science,23,276000.0,2011-10-17,2014-08-22

In [8]:
dt['quit_date'].isna().sum()/dt.shape[0]

0.453080722208728

In [14]:
dt['quit_or_not']=dt['quit_date'].isna()

In [20]:
hc = pd.DataFrame(dt.groupby('company_id')['quit_or_not'].count()- dt.groupby('company_id')['quit_or_not'].sum())

            quit_or_not
company_id
1                4621.0
2                2206.0
3                1531.0
4                1153.0
5                 983.0
6                 712.0
7                 692.0
8                 579.0
9                 529.0
10                480.0
11                 12.0
12                 12.0